$white: #ffffff;
$black: #000000;
$primary900: #192347;
$primary800: #283358;
$primary700: #2f3c65;
$primary600: #364570;
$primary500: #3d4c78;
$primary400: #586589;
$primary300: #74809c;
$primary200: #9aa3b9;
$primary100: #c1c7d5;
$primary50: #e6e9ee;
$grey900: #1d1d1d;
$grey800: #3d3d3d;
$grey700: #5c5c5c;
$grey600: #707070;
$grey500: #989898;
$grey400: #b8b8b8;
$grey300: #dbdbdb;
$grey200: #ebebeb;
$grey100: #f3f3f3;
$grey50: #f9f9f9;
