.bottom-tab {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.466);
  position: fixed;
  bottom: 0;
  width: 314px;
  @media (max-width: 425px) {
    width: calc(100% - 32px);
  }
  margin-left: 16px;
  margin-bottom: 20px;
  //TODO: 테두리 적용 안되는 문제
  // border-image-source: radial-gradient(
  //     100% 100% at 92.68% 100%,
  //     rgba(255, 255, 255, 0.6) 0%,
  //     rgba(255, 255, 255, 0) 100%
  //   ),
  //   radial-gradient(
  //     100% 100% at 6.86% 0%,
  //     rgba(255, 255, 255, 0.6) 0%,
  //     rgba(255, 255, 255, 0) 100%
  //   ),
  //   radial-gradient(
  //     50% 155.02% at 50.91% 50%,
  //     #ffffff 0%,
  //     rgba(255, 255, 255, 0) 100%
  //   );

  display: flex;

  border-radius: 36px;

  height: 62px;

  background: linear-gradient(
      275.5deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0) 54.4%
    ),
    linear-gradient(
      264.5deg,
      rgba(255, 255, 255, 0) 45.6%,
      rgba(255, 255, 255, 0.8) 100%
    );
  backdrop-filter: blur(8px);

  text-align: center;
  align-items: center;
  .bottom-tab__item {
    flex: 1;
    position: relative;
    .bottom-tab__item__backdrop {
      position: absolute;
      width: 54px;
      height: 20px;
      background: #6fb6ff;
      filter: blur(12px);
      transform: rotate(180deg) translateX(50%) translateY(-20%);
      left: 50%;
    }
    .bottom-tab__item__icon {
      transform: translateY(5px);
    }

    .bottom-tab__item__title {
      transform: translateY(-5px);
    }
  }
}
