$initial-height: 360px;
$overlap-height: 24px;

.playlist-detail-page-container {
  .info-section {
    box-sizing: border-box;
    height: $initial-height;
    transition: height 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    margin: 0 -16px;
    justify-content: flex-end;
    padding: 0 16px 40px 16px;
  }
  .songs-section {
    position: relative;
    top: -$overlap-height;
    transition: height 0.3s ease-in-out;
    box-sizing: border-box;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.5) 9.9%,
      rgba(255, 255, 255, 0.1) 30.87%,
      rgba(0, 0, 0, 0.04) 100%
    );
    backdrop-filter: blur(20px);

    border-radius: 30px 30px 0px 0px;

    height: calc(100vh - $initial-height + $overlap-height);
    margin: 0 -16px;

    .song-detail-section {
      align-items: center;
      padding: 18px 0;
      display: flex;
      justify-content: space-between;
      text-align: center;

      .play-icon {
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.466);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-left: 14px;
        border-radius: 40px;
        background: linear-gradient(
          180deg,
          rgba(86, 165, 255, 0.3) 14.06%,
          rgba(239, 57, 89, 0) 100%
        );
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
        backdrop-filter: blur(6px);
      }
    }
  }
}

.youtube-video-container {
  iframe {
    border-radius: 16px;
  }
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 10px;
}
